{
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 120,
	"pluginSearchDirs": ["."],

	"importOrder": ["^components/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
