#root {
	min-height: 100vh;
}

header {
	padding: 0px 20px;
	border-bottom: 2px solid;
	margin-bottom: 20px;
}

footer {
	position: sticky;
	top: 100vh;
	height: 50px;

	padding: 0px 20px;

	display: flex;
	flex-direction: row;
	align-items: center;
}
